<%-include("header.ejs")-%>
    <%if(formType==="bydistrict"){%>
        <div class="container">
            <img src="/img/letVaccinated.png" width="200px" alt="">
        <form action="/selectDistrict"  method="POST">
        <select name="states" onchange='this.form.submit()'>
            <option value="" disabled selected hidden><%=selectedState%></option>
            <%states.forEach((state)=>{%>
            <option  value='{"state_id":"<%=state.state_id%>","state_name":"<%=state.state_name%>"}'><%=state.state_name%></option>
            <%});%>
        </select>
    </form>
    <form action="/"  method="POST">
        <select name="city_id">
            <option value="" disabled selected hidden>Select a District</option>
            <%cities.forEach((city)=>{%>
            <option value="<%=city.district_id%>"><%=city.district_name%></option>
            <%});%>
        </select>
        <input type="date" name="date" id="">
        <button type="submit" name="reqtype" value="searchByDistrict">submit</button>
    </form>
</div>
    <%}else{%>
            <div class="container">
                <img src="/img/letVaccinated.png" width="200px" alt="">
        <form action="/" method="POST">
            <input type="text" name="pinCode" placeholder="pin code" id="" autocomplete="false">
                <input type="date" name="date" id="">
                <button type="submit" name="reqtype">submit</button>
        </form>
    </div>
        <%}%>
        <%-include("chatBot.ejs")-%>
        <%-include("footer.ejs")-%>